/* 公共级别的样式 */
*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: "Helvetical Neue",Helvetica;
}

a:hover
{
    text-decoration: none;
}

.floatLeft
{
    float:left !important;
}
.floatRight
{
    float: right !important;
}

@font-face
{
    font-family: 'itcast';
    src: url('./../font/MiFie-Web-Font.eot') format('embedded-opentype'),
         url('./../font/MiFie-Web-Font.svg') format('svg'),
         url('./../font/MiFie-Web-Font.ttf') format('truetype'),
         url('./../font/MiFie-Web-Font.woff') format('woff');
}

/* @font-face {
    font-family: 'iconfont'; 
    src: url('./../download//font_811182_rp360z42l4o/iconfont.eot') format('embedded-opentype'),
    url('./../download//font_811182_rp360z42l4o/iconfont.woff') format('woff'),
    url('./../download//font_811182_rp360z42l4o/iconfont.ttf') format('truetype'),
    url('./../download//font_811182_rp360z42l4o/iconfont.svg') format('svg');
  } 
.demo
{
    font-family:"iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}   */


[class^="icon-"],[class*=" icon-"]
{
    font-family: itcast;
    font-style: normal;
}
.icon-phone::before
{
    content:'\e908';
    font-size: 14px;
}
.icon-telephone::before
{
    content: '\e909';
    font-size: 14px;
    margin-right: 3px;
}
.icon-icon::before
{
    content: '\e920';
}
.icon-logo::before
{
    content: '\e93e';
}
.icon-tese::before
{
    content: '\e907';
    font-size: 35px;
}
.icon-clock::before
{
    content: '\e906';
}
.icon-camara::before
{
    content: '\e905';
}
.icon-tiyan::before
{
    content: '\e915';
    position: absolute;
    font-size: 50px;
    color: white;
    top: -11px;
    left: 0px;
}



/* 头部区域 */
#header > .topbar
{
    height: 40px;
    border-bottom: 1px solid #c0c0c09a;
}
#header > .topbar >.container > .row > div
{
    border-right: 1px solid #c0c0c0;
    height: 40px;
    line-height: 40px;
}
#header > .topbar >.container > .row > div + div
{
    text-align: center;
}
#header > .topbar >.container > .row > div:last-of-type
{
    border: none;
    text-align: right;
    overflow: hidden;
}
#header > .topbar >.container > .row > div a
{
    color: black;
    cursor: pointer;
}
#header > .topbar >.container > .row > div a:hover
{
    text-decoration: none;
    color: gray;
    cursor: pointer
}


#header #mobiePhone > img
{
    position: absolute;
    z-index: 2;
    top:28px;
    display: none;
}
#header #mobiePhone:hover > img
{
    display: inline;
}

#header div:nth-of-type(3) > p > a:first-of-type
{
    margin-right: 10px;
}

#header > nav[class='navbar navbar-coke43 navbar-static-top'] a
{
    height: 80px;
    line-height: 50px;
}
#header > nav .icon-icon
{
    font-size: 40px;
    color: red;
}
#header > nav .icon-logo
{
    font-size: 40px;
}
@media (max-width:768px) {
    #header #nav-list
    {
        border-top: 1px solid #c0c0c0;
    }
}


/* 轮播图区域 */
#photoroll > #carousel-example-generic >.carousel-inner > .item
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (min-width:768px)
{
    #photoroll > #carousel-example-generic >.carousel-inner > .item
    {
        height: 410px;
    }
}
#photoroll > #carousel-example-generic >.carousel-inner > .item > img
{
    width: 100%;
}


/* 特色内容区域 */
#tese
{
    padding:30px 0;
    border-bottom: 1px solid #c0c0c0;
}
#tese > .container > .row > div
{
    margin: 10px 0;
}
#tese > .container > .row > div > a
{
    color: gray;
}
#tese > .container > .row > div > a:hover .media
{
    text-decoration: none;
    background-color: lightgreen;
    color: black;
    border: 1px solid black;
}
#tese > .container > .row > div > a >.media
{
    border:1px solid #c0c0c0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0px;
}
#tese > .container > .row > div > a > .media .media-body
{
    padding-top: 5px;
}


/* 立即预约区域 */
#bookNow
{
    padding:15px 0;
    border-bottom: 1px solid #c0c0c0;
}
#bookNow > .container > p
{
    margin: 0;
}
#bookNow > div > p >.bookNow_number
{
    color: red;
}
#bookNow > div > p.floatLeft > a
{
    color: red;
    border-bottom: 1px dotted red;
}
#bookNow > div > p.floatLeft > i
{
    margin-right: 3px;
}
#bookNow > div > p.floatRight > a > i
{
    margin-right: 3px;
}
@media (max-width:992px)
{
    #bookNow > div > p.floatRight
    {
        display: none;
    }
}

/* products区域 */
#products
{
    background-color: #f0f0f0;
    padding: 20px 0;
    margin-bottom: 30px;
}
#products > .container > .ul-wrapper > ul.nav-tabs > li > a{
    border-bottom: 2px solid transparent;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}
#products > .container > .ul-wrapper > ul.nav-tabs > li > a:hover
{
    border-bottom: 2px solid red;
}
#products > .container > .ul-wrapper > ul.nav-tabs > li.active > a
{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid red;
}
#products > .container > .tab-content
{
    padding-top: 30px;
}
.panel-coke43 {
    border-radius: 0;
    border: 0;
    box-shadow: 5px 5px 5px #ccc;
    background-color: #e92322;
    color:white;
  }
  .panel-coke43 > .panel-heading {
    float:right;
    width: 100px;
    height: 150px;
    border-left: 1px dashed #c0c0c0;
    text-align: center;
    position: relative;
    padding: 45px 0;
  }
  .panel-coke43 > .panel-heading > .tooltips {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30px;
}
.panel-coke43 > .panel-heading > .tooltips > .badge-one
{
    color: white;
    border: 1px solid white;
    margin-right: 3px;
}
.panel-coke43 > .panel-heading > .tooltips > .badge-two
{
    color: white;
    border: 1px solid white;
}
  .panel-coke43 > .panel-heading > p,.panel-coke43 > .panel-body > .row p
  {
    margin:0;
  }
  .panel-coke43 > .panel-heading > p > strong
  {
      font-size: 30px;
  }
  .panel-coke43 > .panel-heading::before,
  .panel-coke43 > .panel-heading::after{
    content: ' ';
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #f0f0f0;
    position: absolute;
  }
  .panel-coke43 > .panel-heading::before{
    top: 0;
    left: 0;
    margin-left: -10px;
    margin-top: -10px;
  }
  .panel-coke43 > .panel-heading::after{
    bottom: 0;
    left: 0;
    margin-left: -10px;
    margin-bottom: -10px;
    box-shadow: 0px 5px 5px #ccc inset;
  }
  .panel-coke43 > .panel-body {
    border-top-color: #ddd;
    margin-right: 100px;
    height: 150px;
    position: relative;
  }

   

/* 新闻列表区域 */
#news
{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c0c0c0;
}
#news .news-title
{
    padding: 15px 0;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px dashed #c0c0c0;
    position: relative;
    margin-right: 10px;
}
#news .news-title::after
{
    content: ' ';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    position: absolute;
    bottom: -5px;
    right: -10px;
}
#news .icon-news01::before
{
    content:'\e90e';
    font-size: 18px;
    color: #eaeaea;
}
#news .icon-news02::before
{
    content:'\e90f';
    font-size: 18px;
    color: #eaeaea;
}
#news .icon-news03::before
{
    content:'\e910';
    font-size: 18px;
    color: #eaeaea;
}
#news .icon-news04::before
{
    content:'\e911';
    font-size: 18px;
    color: #eaeaea;
}
#news > .container > .row > div:nth-of-type(3) ul
{
    list-style-type: none;
}
#news > .container > .row > div:nth-of-type(3) ul > li:nth-of-type(odd)
{
    background-color: lightgreen;
}


@media (max-width:992px) {
    #news div:nth-of-type(2) ul.nav-pills li
    {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        width: 25%;
    }
    #news div:nth-of-type(2) ul.nav-pills li > a
    {
        border-radius: 0;
    }
}

/* 脚注区域 */
#hzhb{
    padding-top: 20px;
    padding-bottom: 20px;
}
#hzhb > .container >ul
{
    list-style-type: none;
    width: 638px;
    overflow: hidden;
}
#hzhb > .container > ul > li
{
    float: left;
}
#hzhb > .container > ul > li + li
{
    border-left: 1px dashed #e0e0e0;
}
#hzhb > .container > ul > li > a
{
    padding: 10px;
    color: purple;
}
#hzhb > .container > ul > li > a:hover
{
    color: red;
}
#hzhb i::before
{
    font-size: 50px;
}
#hzhb .icon-yinlian::before
{
    content: '\e946';
}
#hzhb .icon-renbao::before
{
    content: '\e92f';
}
#hzhb .icon-tuomasen::before
{
    content: '\e92e';
}
#hzhb .icon-renshou::before
{
    content: '\e92a';
}
#hzhb .icon-zixin::before
{
    content: '\e929';
}
#hzhb .icon-cfa::before
{
    content: '\e931';
}
#hzhb .icon-baidu::before
{
    content: '\e92c';
}
#hzhb .icon-360::before
{
    content: '\e92b';
}
#hzhb .icon-zhiwu::before
{
    content: '\e92d';
}


/* bootstrap扩展内容 */
.navbar {
    margin-bottom: 0;
}
.navbar-coke43 {
    background-color: white;
    border-bottom: 1px solid #c7c7c7;
    width:100%;
    top: 0;
}
.navbar-coke43 > .container > .navbar-header {
    border-bottom: 2px solid transparent;
}
.navbar-coke43 > .container > .navbar-header > .navbar-brand
{
    color: black;
}
.navbar-coke43 .navbar-brand:hover,
.navbar-coke43 .navbar-brand:focus {
background-color: transparent;
}
.navbar-coke43 .navbar-text {
color: #9d9d9d;
}
.navbar-coke43 .navbar-nav > li > a {
color: #9d9d9d;
}
.navbar-coke43 .navbar-nav > li > a:hover,
.navbar-coke43 .navbar-nav > li > a:focus {
color: black;
background-color: transparent;
border-bottom: 2px solid red;
}
.navbar-coke43 .navbar-nav > .active > a,
.navbar-coke43 .navbar-nav > .active > a:hover,
.navbar-coke43 .navbar-nav > .active > a:focus {
color: black;
background-color: #080808;
border-bottom: 2px solid red;
}
.navbar-coke43 .navbar-nav > .disabled > a,
.navbar-coke43 .navbar-nav > .disabled > a:hover,
.navbar-coke43 .navbar-nav > .disabled > a:focus {
color: #444;
background-color: transparent;
}
.navbar-coke43 .navbar-toggle {
border-color: #c0c0c0;
}
.navbar-coke43 .navbar-toggle:hover,
.navbar-coke43 .navbar-toggle:focus {
background-color: #f0f0f0;
}
.navbar-coke43 .navbar-toggle .icon-bar {
background-color: #c0c0c0;
}
.navbar-coke43 .navbar-collapse,
.navbar-coke43 .navbar-form {
border-color: #101010;
}
.navbar-coke43 .navbar-nav > .open > a,
.navbar-coke43 .navbar-nav > .open > a:hover,
.navbar-coke43 .navbar-nav > .open > a:focus {
color: black;
background-color: #080808;
}

@media (max-width: 767px) {
.navbar-coke43 .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
}
.navbar-coke43 .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
}
.navbar-coke43 .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
}
.navbar-coke43 .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-coke43 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: black;
    background-color: transparent;
}
.navbar-coke43 .navbar-nav .open .dropdown-menu > .active > a,
.navbar-coke43 .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-coke43 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: black;
    background-color: #080808;
}
.navbar-coke43 .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-coke43 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-coke43 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
}
.navbar-coke43 .navbar-link {
color: #9d9d9d;
}
.navbar-coke43 .navbar-link:hover {
color: #fff;
}
.navbar-coke43 .btn-link {
color: #9d9d9d;
}
.navbar-coke43 .btn-link:hover,
.navbar-coke43 .btn-link:focus {
color: #fff;
}
.navbar-coke43 .btn-link[disabled]:hover,
fieldset[disabled] .navbar-coke43 .btn-link:hover,
.navbar-coke43 .btn-link[disabled]:focus,
fieldset[disabled] .navbar-coke43 .btn-link:focus {
color: #444;
}

.nav-pills > li {
    float: left;
  }
  .nav-pills > li > a {
    border-radius: 50%;
    background-color: #c0c0c0;
  }
  .nav-pills > li:nth-of-type(n+2) > a
  {
    margin-top: 10px;
  }
  @media (max-width:992px)
  {
    .nav-pills > li:nth-of-type(n+2) > a
    {
      margin-top: 0px;
    }
  }
  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: red;
  }
  .nav-pills > li > a:hover,
  .nav-pills > li > a:focus {
    color: #fff;
    background-color: red;
  }
  .nav-stacked > li + li {
    margin-top: 0px;
    margin-left: 0;
  }


